/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer, #footer {
	margin-top: 25px;
  height: 60px;
  background-color: #222222;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .credit {
  margin: 20px 0;
}

header{
  background-color: #222222;
}
.gray-light {
	color: #ddd;
}
#myTabContent{
	margin-top: 20px;
}

.no-js .textareaH{
height: 200px;
}
.hide-ascii-controls{
display:none;
}
