@import url('http://webfonts.myanmapress.com/css.php?font=ayar,padauk,zawgyi,uni,myanmar3');
@font-face {font-family: "WinInnwa"; font-style: normal; font-weight: normal; src: local("Win Innwa"), url("../fonts/winnwa.ttf") format("truetype");}
@font-face {font-family: "NLD1"; font-style: normal; font-weight: normal; src: local("NLD1"), url("../fonts/nld1.ttf") format("truetype");}
@font-face {font-family: "Kannaka"; font-style: normal; font-weight: normal; src: local("Kannaka"), url("..fonts/kannaka.ttf") format("truetype");}
@font-face {font-family: "m-myanmar1"; font-style: normal; font-weight: normal; src: local("M-Myanmar1"), url("../fonts/m-myanmar1.ttf") format("truetype");}
*{font-family: Tharlon, Padauk, "Noto Sans Myanmar", Myanmar3;font-size: 0.98em;}
.zero-clipboard{position:relative;display:none}
.btn-clipboard{position:absolute;top:0;right:0;z-index:10;display:block;padding:5px 8px;font-size:12px;color:#777;cursor:pointer;background-color:#fff;border:1px solid #e1e1e8;border-radius:0 4px 0 4px}
.btn-clipboard-hover{color:#fff;background-color:#563d7c;border-color:#563d7c}
@media (min-width:768px){.zero-clipboard{display:block}}
